nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}
