/* SCSS HEX */
$colour-background: rgb(255, 255, 255);
$colour-primary: #2f1000ff;
$colour-primary-accent: #621b00ff;
$colour-secondary: #945600ff;
$colour-secondary-accent: #ffb685ff;
$colour-text: #000000;
