/* Decendant Combinator */

div p {
  color: red;
}

/* Child Combinator */
div h1 {
  color: red;
}

.important-message {
  background-color: lightcoral;
  border: 2px solid black;
  border-radius: 4x;
}

.important-message p {
  font-style: italic;
  font-weight: bolder;
  color: white;
}

/* sibling combinator */

.bold {
  font-weight: bolder;
}
/* adjacent sibling combinator */
.bold + p {
  color: blue;
}

/* General Sibling Combinator */
/* Will select all sibling elements of a given type */
.bold ~ p {
  font-style: italic;
}
