* {
  padding: 0%;
  margin: 0%;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px 900px;
  grid-template-columns: 30vw 70vw;
}

header {
  background-color: lightgreen;
  grid-column-start: 1;
  grid-column-end: 3;
}

nav {
  background-color: lightcoral;
}

main {
  background-color: lightgoldenrodyellow;
}

main img {
  width: 300px;
}
