/* selector {
  property: value;
 { */

/* element selector  */
/* select all elements of that type */
h3 {
  color: orange;
  /* last argument of rgba should be between 0 and 1 */
  background-color: rgba(30, 30, 30, 0.5);
  border: 1px solid greenyellow;
  border-radius: 12px;
}

/* Universal selector */
/* selects everything on our page */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-weight: 700;
  text-decoration: line-through;
  font-style: italic;
  /* if you want to remove all text decoration, use the none value */
}

/* How to select only one element */
#pinkPara {
  color: pink;
  text-decoration: none;
  font-style: normal;
  text-align: center;
}

.smallPara {
  font-size: 12px;
  color: black;
}
