h1 {
  text-decoration: underline;
}
/* Create a Hover Effect */
h1:hover {
  color: fuchsia;
  background-color: yellow;
  font-style: italic;
}
button:hover {
  background-color: green;
  border-width: 2px;
  margin: 1px;
}
button {
  background-color: lightgreen;
  border-width: 1px;
  margin: 2px;
}

/* Unvisited Link */
div.pseudo a:link {
  color: green;
}

/* Visited Link */
div.pseudo a:visited {
  color: brown;
}

/* Hover */
div.pseudo a:hover {
  color: red;
}

/* Selected on click */
div.pseudo a:active {
  color: yellow;
/* Unvisited Link */
div.pseudo a:link {
  color: green;
}

/* Visited Link */
div.pseudo a:visited {
  color: brown;
}

/* Hover */
div.pseudo a:hover {
  color: red;
}

/* Selected on click */
div.pseudo a:active {
  color: yellow;
}

/* The 'of type' pseudo classes */

div.of-type h1:only-of-type {
  color: green;
}

div.of-type p:first-of-type {
  color: red;
}

div.of-type p:nth-of-type(2) {
  font-weight: bold;
}

div.of-type p:nth-last-of-type(2) {
  font-style: italic;
}
div.of-type p:last-of-type {
  border: 2px solid black;
}

p::first-letter {
  font-weight: bolder;
  color: red;
}
