.block-container {
  background-color: aqua;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  /* Centering the p element */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 600px;

  /* Moves Items Left to Right */

  /* justify-content: center; */
  /* justify-content: space-around; */
  justify-content: space-between;
  /* justify-content: start; */
  /* justify-content: space-evenly; */

  /* Moves Items Up to Down */

  /* align-items: center; */
  align-items: flex-end;
  /* align-items: flex-start; */
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
}

/* Flex Container - parent element */
/* Flex Items - elements inside the parent */
